:root{
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #FCFDFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Popins', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/*---------------Nav bar--------------*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px; /*------------------for rounderd corners---------------*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

nav .right a span{
    margin-left: 5px;
}

/*-----------------------Hero secontion 1-----------------------*/

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    gap: 40px;
    margin-bottom: 100px;
}

.hero-section .text{
    flex: 5;
}

.hero-section h2{
    font-size: 45px;
}

.hero-section .text .links{
    margin-top: 25px;
}

.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}

.hero-section .text .links a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot{
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img{
    width: 350px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*-----------------------------skills------------------------------*/

.skills-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2{
    text-align: center;
    font-size: 35px;
}

.skills-section .text{
    text-align: center;
    margin-bottom: 20px;
}

.skills-section .cells{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    gap: 10px;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid lightgray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.skills-section .cells .cell img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.skills-section .cells .cell span{
    font-size: 18px;

}

/*--------------------------Section 3 testimony----------------------*/
.testimony-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.testimony-section h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.testimony-section .group{
    display: flex;
    align-items: center;
    gap: 50px;
}

.testimony-section .group .personal-details{
    text-align: center;
    flex: 2;
}

.testimony-section .group .text{
    flex: 8;
}

.testimony-section .group .personal-details img{
    width: 200px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 10px;
}

.testimony-section .group .personal-details p{
    font-weight: 600;
}

.testimony-section .group .personal-details p:last-child{
    font-weight: normal;
}


/*------------------------Section 4 contact------------------------*/
.contact-section{
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section .h2{
    font-size: 35px;
}

.contact-section .group{
    display: flex;
    gap: 50px;
}

.contact-section .group .text{
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form{
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea{
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;

}

.contact-section .group form button{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #FCFDFF;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
}

.contact-section .group form button:hover{
    filter: brightness(.9);
    -webkit-filter: brightness(.9);
}



@media(max-width: 910px){
    /*-----------------------Section 1 hero----------------------*/
    .hero-section .text h2{
        font-size: 35px;
    }
}

@media(max-width: 850px){
    /*-----------------------Section 1 hero----------------------*/
    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-section .headshot img{
        width: 300px;
    }

    /*---------------------Testimony section-------------------*/
    .testimony-section {
        text-align: center;
    }

    .testimony-section .group{
        flex-direction: column;
    }

    /*---------------------Contact section---------------------*/
    .contact-section .group{
        flex-direction: column ;
    }
}



@media(max-width: 700px){ /*--------------this is for responsive page after 600px------------*/
    nav{
        padding: 0 20px;
    }

    nav .right a{
        font-size: 22px;
    }

    nav .right a span{
        display: none;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: var(--background-color);
        padding: 0;
    }

    /*-------- Hero section-------*/
    .hero-section{
        padding: 1 20px;
    }

    .hero-section .text h2{
        font-size: 30px;
    }

    /*---------skills section--------*/
    .skills-section{
        padding: 0 20px;
    }

    .skills-section .cells .cell span{
        font-size: 16px;
    }

    /*----------------------------Testimony section-------------------------*/
    .testimony-section{
        padding: 0 20px;
    }

    /*----------------------------Contact section-------------------------*/
    .contact-section{
        padding: 0 20px;

    }
}


